<div class="terminal-font-regular" style="background-color:#888; color:#CCC; box-shadow:10px 10px; padding: 8px; margin-bottom:32px;">
    void* IV; //  :space_invader:
    <br/>
    IV = malloc
        <div class="terminal-font-high" style="display: inline; font-size:14pt; color:#EEE">
            ( <a style="color:#FFF" href="#code-space-time">Code monkey</a> | Unity | Android );
        </div>
    <br/>
    std::cout <<
        <div style="padding-left:32px; color: #FFF">
            "The monkey can discuss M-V-[P | VM | C] and the rest of the alphabet. Although, with SOLID understanding. :sweat_smile:"
        </div>
    << std::endl;
    <br/>
    free (IV); // :bomb:
</div>

<a name="code-space-time" />

<div style="color:#DDD">
    // ^ Code, Space, and Time, actually.
</div>