#hello-there-banana {
    text-transform: uppercase;
    font-weight: bold;
}

.header-text {
    font-size: 1.5rem;
    font-weight: semi-bold;
}

.header-link {
    text-decoration: underline;
    color: currentColor
}

.footer-col .social-links {
    display: flex;
    justify-content: flex-end;
}

.social-media-list {
    margin: 0;
}

.post-list {
    margin-top: 3rem;
    border-left: 3px solid #535353;
    padding-left: 2rem; 
}

.post-meta {
    font-size: 0.7rem;
}

.post-link {
    font-size: 1rem;
    text-decoration: underline;
}

@media screen {
    .printable-only {
        display: none;
    }
}

@media print {
    .non-printable,
    .site-header,
    .post-header,
    .site-footer {
        display: none;
    }

    .printable-only {
        display: block;
    }

    .about-me-header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .page-content {
        padding: 0;
    }

    .post-content {
        margin: 0;

        h3 {
            border-bottom: 1px solid #000;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}