---
layout: page
---

{% include background.html %}

<!-- unity-desktop => webgl-desktop for unification -->
<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width={{ page.canvasWidth }} height={{ page.canvasHeight }} tabindex="-1" style="width: {{ page.canvasWidth }}px; height: {{ page.canvasHeight }}px; background: {{ page.canvasBackground }}" />
    <div id="unity-loading-bar">
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>

    <div id="unity-fullscreen-button"></div>
</div>

<h3>{{ page.buildTitle }}</h3>

{{ content }}

{%- include unity-loader.html -%}