---
layout: iv-page
---

{% include background.html %}

<h3>{{ page.buildTitle }}</h3>

{{ content }}

<!-- unity-desktop => webgl-desktop for unification -->
<div id="unity-container" class="webgl-container">
    <canvas id="unity-canvas" width={{ page.canvasWidth }} height={{ page.canvasHeight }} tabindex="-1" s</div>tyle="width: {{ page.canvasWidth }}px; height: {{ page.canvasHeight }}px; background: {{ page.canvasBackground }}"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>

    <div id="unity-fullscreen-button"></div>
    <div id="unity-warning"></div>
</div>

{%- include unity-loader.html -%}