---
layout: iv-page
---

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/webgl-page.css' | relative_url }}">

{% include background.html %}

<script type="text/javascript">
    const vsRelativePath = "{{ page.vsPath | relative_url }}" || "{{ 'assets/shaders/common/vertex.glsl' | relative_url }}";
    const fsRelativePath = "{{ page.fsPath | relative_url }}";
    const backgroundTextureRelativePath = "{{ page.backgroundTexturePath | relative_url }}";
    window.shaderSliderValue = 0.5;
</script>
<script type="text/javascript" src="{{ '/assets/js/glsl.js' | relative_url }}"></script>

<h3>{{ page.buildTitle }}</h3>

{{ content }}

<div class="webgl-container">
    <div style="width: {{ page.canvasWidth }}px; height: 100%;">
        <p>Use slider to shift comparsion divider:</p>
        <input type="range" id="shaderSlider" min="0" max="100" style="width: 100%;">
        <canvas id="webgl-canvas" width={{ page.canvasWidth }} height={{ page.canvasHeight }} tabindex="-1"
            style="background: {{ page.canvasBackground }};"></canvas>
    </div>
</div>

<script>
    {
        const slider = document.getElementById('shaderSlider');
        slider.value = window.shaderSliderValue * 100;

        slider.addEventListener('input', (e) => {
            const value = e.target.value / 100;

            // Access this value in shader code
            window.shaderSliderValue = value;
        });
    }
</script>